# Assignment 1 
* Author: **Vinay Reddy Vangala**
* NetID: **vrv22001**
* Date: **01/19/2022**

Here is a blank notebook for Assignment 1. Please fill in your name and NetID at the top. This assignment is designed to introduce you to how to use R with Google Colab. After finishing all your answers, please click "Runtime-> Run all" (or Ctrl+F9) to generate all the outputs and submit your ipynb file with all the outputs.

In [ ]:
version # make sure it says language R at the bottom!

# General Instructions
Note that R code submitted should work independent of the data that
sits in the data structure. For example, suppose there was a vector
$Rvec$ with the values $(1,1,4)$ and the problem asks for you to
create R code to create a vector answer which doubles each element
of $Rvec$. 


*   The answer $answer=c(2,2,8)$ would be given no credit.

*  The answer $answer=2*Rvec$ would be an appropriate answer. 




For all problems, be sure to add comments that will enable the graders
to understand your process, as needed. If you have any questions,
please submit them via email to the instructor and/or the graders
prior to submitting your solution.

# Problem 1 (100 Points)
## Question 1.a
a.	Please change the file name to “Assignment 1 Solution.ipynb.” 


*   i.	Change the title to “Assignment 1 Solution”  
*   ii.	fill in your name, date, and NetID at the top.

## Question 1.b 

i.	Declare a variable x and assign it the value of 718 divided by 17 and then print x.

In [ ]:
#declaring variable x
x = 718/17 #can also assign the variable x <- 718/17
x #this prints the value assigned to x

[1] 42.23529

ii.	Declare another variable y and assign it the value of the variable created in the previous part rounded to one digit in the decimal and then print y.

In [ ]:
#declaring variable y
y <- round(x,1) # rounds the values in its first argument
y

[1] 42.2

iii.	There is a function called “floor” that returns the value of a variable rounded up. Use the help function to learn about the function. Declare a new variable z and assign it to the value of the variable x created in the first part of this problem rounded up to the nearest integer using this function and then print z. Is this z bigger than x or smaller than x?

In [ ]:
z <- floor(x) #assigning floor value of x to z,this function mainly rounds to the greatest integer that is less than or equal to x
z 
#upon investigating the output the value of z seems to smaller than x

[1] 42

## Question 1.c
Vectors are objects in R that allow you to store multiple other objects in a variable. We will explore vectors in this problem.

i.	Create a new section and execute the line:
companyName = c(“Amazon”, “Meta”, “Twitter”, “Microsoft”, “Google”)

In [ ]:
companyName = c("Amazon", "Meta", "Twitter", "Microsoft", "Google") #assigning a vector to companyName, consisting datatype of character
companyName

[1] "Amazon"    "Meta"      "Twitter"   "Microsoft" "Google"

ii.	Execute the line in a code area:
companyName[3]

In [ ]:
# companyName[3] unlike other programming languages, R references the  first element (the first number in the set)  by '[1]', whereas with most sorts of arrays the first element is referenced with '[0]'.

[1] "Twitter"

iii.	Look up each company’s total revenue in 2021 and 2020 (in billion dollars). Create two vectors, this time composed of numbers, which store the company’s revenue in 2020 and 2021. Call these vectors revenue2021 and revenue2020 respectively.

In [2]:
revenue2021 = c(469.822, 117.929, 5, 168, 257.63)
revenue2020 = c(386.064, 85.965, 3.72, 143, 182.53) 
revenue2021
revenue2020

[1] 469.822 117.929   5.000 168.000 257.630

[1] 386.064  85.965   3.720 143.000 182.530

iv.	Create a vector called perChange and set it equal to the percentage change of each company from 2020 to 2021. Note use the following equation:
 $perChange =\frac{revenue2021}{revenue2020} – 1$

In [3]:
perChange = (revenue2021/revenue2020)-1
perChange = perChange*100
perChange

[1] 21.69537 37.18257 34.40860 17.48252 41.14392